<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Number</th>
        <th scope="col">Package</th>
        <th scope="col">Courses</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; index as i">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.number}}</td>
        <td>{{item.package}}</td>
        <td>{{item.courses}}</td>
        <td><button class="btn btn-primary" (click)="deleteItem(item.id)">delete</button>  <button class="btn btn-warning ms-2" (click)="edit(item.id)" >edit</button></td>
      </tr>
    </tbody>
  </table>
  